<div id="footer">
  @Html.ActionLink("Home page", "Index", "Home") |
  @Html.ActionLink("Manage Treats", "Index", "Treats") |
  @Html.ActionLink("Manage Flavors", "Index", "Flavors") |
  @Html.ActionLink("Create or Manage an Account", "Index", "Account")
</div>